@tailwind base;
@tailwind components;
@tailwind utilities;

header ul li{
    @apply px-3;
}

.bg-primary{
    background: rgb(27, 27, 28);
}

.bg-secondary{
    background: rgb(25, 25, 26);
}

.bg-light{
    background: rgb(28, 28, 29);
}

.bg-fill{
    background: rgb(31, 31, 32);
}



.mobile-nav{
     @apply fixed top-12 left-0 bg-secondary opacity-100 w-full h-3/4;
}

.mobile-nav li {
    @apply w-full h-full text-center py-10 border-b-2;
}

.project-desc{
    @apply absolute left-0 right-0 bottom-0 top-0 font-semibold text-xl bg-yellow-500 opacity-0 text-zinc-900 duration-500 hover:opacity-100;
}



html {
    scroll-behavior: smooth;
}